<main class="content">
  <app-collection title="Hoodies Collection."
                  textStyle="animation-range-start: 250px;
                            animation-range-end: 160vh">
  </app-collection>

  <app-collection title="Art(&meets Customers."
                  textStyle="animation-range-start: 1550px;
                            animation-range-end: 300vh"
                  containerStyle="margin-top: 600px"
                  imageBg="bg1.png"
                  imageBgStyle="position: absolute;
                                align-self: center;
                                margin-top: -600px;
                                width: 100%;
                                heigth: 100%;
                                max-width: var(--general-container-max-width)">
  </app-collection>
</main>

