<header>
  <nav class="nav" aria-label="Main navigation">
    <div class="nav-container general-container">
      <app-logo></app-logo>
      <app-nav-buttons *ngIf="windowSize >= 801"></app-nav-buttons>
      <app-hamburger-button *ngIf="windowSize <= 800"></app-hamburger-button>
    </div>
  </nav>
  <app-hamburger-nav></app-hamburger-nav>

  <div id="intro-header" class="intro-header general-container-full">
    <div id="left-side-header" class="left-side-header">
      <h1>Hoodies which fit your personality.</h1>

      <div class="button-header">
        <!-- Button component -->
        <app-see-products-button></app-see-products-button>
      </div>
    </div>

    <div id="slider-container">
      <figure id="slider-images" class="header-image">
        <img class="slider-img slider-img-active" src="slider/header1.png" alt="Hoodie header image" >
        <img class="slider-img" src="slider/header2.png" alt="Hoodie header image" >
        <img class="slider-img" src="slider/header3.png" alt="Hoodie header image" >
      </figure>

      <div id="slider-controls" class="slider-controls">
        <!-- Slider controls -->
        <button type="button" class="slider-button slider-button-active"></button>
        <button type="button" class="slider-button"></button>
        <button type="button" class="slider-button"></button>
      </div>
    </div>
  </div>
</header>
