
.user-crud{
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.user-crud div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input{
  background-color: transparent;
  border: solid 1px white;
  padding: 10px;
  color: white;
}

.action-button{
  max-width: fit-content;
  max-height: fit-content;
  padding: 15px;
}

.buttons-crud-box{
  flex-direction: row !important;
  width: 100%;
}
