main{
  position: relative;
  top: var(--nav-heigth);
  width: var(--general-container-max-width);
  margin: 0 auto;
}

main > section{
  margin: 0 auto;
  width: 100%;
  padding: 30px;
}

.addresses article{
  border-bottom: 3px solid red;
  border-radius: 2px;
  padding: 5px;
}

.products{
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.product-box{
  display: flex;
  gap: 10px;
  align-items: center;
}

textarea{
  background: transparent;
  color: white;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  height: 10em;
  max-height: 10em;
}

.product-box img{
  max-width: 90px;
  object-fit: contain;
}

.address-button{
  padding: 10px !important;
  width: fit-content;
  height: fit-content;
}

.chosen-address{
  background: #383838;
  width: fit-content;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
}

.order-button{
  font-size: 20px;
}
