<app-nav></app-nav>
<main>
  <section class="products">
    <h1>Products: </h1>

    @for (product of products; track product.id){

      <article class="product-box">
        <img src="{{ product.product.productImage.image}}">
        <div class="product-details">
          <h3>{{ product.product.title}}</h3>
          <p>{{ product.product.price}} x {{ product.quantity}}</p>
        </div>
      </article>
    }
  </section>

  <app-popup #addressPopup modalTitle="Choose an address:">
    <section class="addresses">
      @for (address of addresses; track address.id){
        <article>
          <h3>{{address.city}}</h3>
          <p>{{address.country}}</p>
          <p>{{address.state}}</p>
          <p>{{address.street + "," + address.number}}</p>
          <p>{{address.zip}}</p>
          <p>
            @if(address.mainAddress === true){
              Main address
            } @else {}
          </p>
          <p><button class="action-button address-button" (click)="chooseAddress(address.id)">Choose</button></p>
        </article>
      }

    </section>
  </app-popup>

  <section>
    <h1>Your chosen address:</h1>
    <button class="action-button address-button" (click)="openAddressPopup()">See addresses</button>
    @if (chosenAddress.getValue() != null){
      <article class="chosen-address">
        <h3>{{chosenAddress.getValue().city}}</h3>
        <p>{{chosenAddress.getValue().country}}</p>
        <p>{{chosenAddress.getValue().state}}</p>
        <p>{{chosenAddress.getValue().street + "," + chosenAddress.getValue().number}}</p>
        <p>{{chosenAddress.getValue().zip}}</p>
        <p>
          @if(chosenAddress.getValue().mainAddress === true){
            Main address
          } @else {}
        </p>
      </article>
    } @else {
      <p> Choose an address first!</p>
    }

  </section>

  <section class="payment-method">
    <h1>Choose a payment method: </h1>
    <p>--- WORKING ON ---</p>
  </section>

  <section class="comments-box">
    <h1>Leave us a message:</h1>
    <textarea class="comments" [(ngModel)]="comments">

    </textarea>
  </section>

  <h3>Delivery fee: <strong>FREE</strong></h3>
  <h1 class ="total-price">Total price: {{this.totalPrice}}</h1>
  <button class="action-button order-button" [disabled]="addressId < 1" (click)="orderCreator()">Order now!</button>
</main>

<div class="footer">
  <app-footer ></app-footer>
</div>

