<section class="form-box">
  <h2>Create new product:</h2>
  <form method="POST">
    <div>
      <label for="title">Title:</label>
      <input id="title" type="text" name="title" [(ngModel)]="title">
    </div>
    <div>
      <label for="size">Size:</label>
      <select id="size" [(ngModel)]="size" name="size">
        <option value="XXS">S</option>
        <option value="XS">XS</option>
        <option value="S">S</option>
        <option value="M">M</option>
        <option value="L">L</option>
        <option value="XL">XL</option>
        <option value="XXL">XXL</option>
      </select>
    </div>
    <div>
      <label for="rating">Rating:</label>
      <input id="rating" type="number" min="0" max="5" name="rating" [(ngModel)]="rating">
    </div>
    <div>
      <label for="description">Description:</label>
<!--      <input id="description" type="text">-->
      <textarea id="description" [(ngModel)]="description" name="description"></textarea>
    </div>
    <div>
      <label for="productColor">Product color:</label>
      <select id="productColor" [(ngModel)]="productColor" name="productColor">
        <option value="Red">Red</option>
        <option value="Blue">Blue</option>
        <option value="Yellow">Yellow</option>
        <option value="White">White</option>
        <option value="Pink">Pink</option>
        <option value="Green">Green</option>
        <option value="Purple">Purple</option>
        <option value="Lightblue">Lightblue</option>
      </select></div>
    <div>
      <label for="price">Price:</label>
      <input id="price" type="number" min="0.1" [(ngModel)]="price" name="price">
    </div>
    <div>
      <label for="productImage">Product image:</label>
      <input id="productImage" type="text" multiple [(ngModel)]="image" name="productImages">
    </div>
    <div>
      <input type="submit" value="Create" (click)="createProduct()">
    </div>
  </form>
</section>
