.container{
  display: flex;
  height: 100%;
}

.container > main{
  padding: 50px;
  margin-top: 50px;
  margin-left: 250px;
}

.container > aside{
  background-color: #383838;
  margin-top: 65px;
  position: fixed;
  height: 100%;
}

.container > aside > h1 {
  padding: 20px;
}

.container > aside > article{
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: var(--general-padding);
}

.container > aside > article button{
  padding: 20px 0 20px 20px;
  width: 200px;
  text-align: left;
  font-size: var(--general-font-size);
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
.container > aside > article button:focus{
  background-color: #5B5B5B;
}
