<div class="container">
  <app-nav></app-nav>
  <aside>
    <h1>Dashboard</h1>
    <article>
      <h2>Product CRUD:</h2>
      <button (click)="renderCrudContent(ProductCrudComponent)">CRUD product</button>
      <button (click)="renderCrudContent(SeeAllProductsComponent)">See all products</button>
    </article>

    <article>
      <h2>User CRUD:</h2>
<!--      <button (click)="renderCrudContent(CreateUserComponent)">Create user</button>-->
      <button (click)="renderCrudContent(UserCrudComponent)">CRUD user</button>
    </article>
  </aside>

  <main>
    <div #content>
      <h3 *ngIf="!activeView">Select an operation from aside.</h3>
    </div>
  </main>
</div>
