<div class="container">
  <app-nav></app-nav>
  <aside>
    <h1>Dashboard</h1>

    <article>
      <h3>Orders:</h3>
      <button (click)="renderCrudContent(AllOrdersComponent)">See all orders</button>
    </article>

    <article>
      <h3>Products:</h3>
      <button (click)="renderCrudContent(ProductCrudComponent)">CRUD product</button>
      <button (click)="renderCrudContent(SeeAllProductsComponent)">See all products</button>
    </article>

    <article>
      <h3>Users:</h3>
      <button (click)="renderCrudContent(UserCrudComponent)">CRUD user</button>
    </article>
  </aside>

  <main>
    <div #content>
      <h3 *ngIf="!getCurrentView()">Select an operation from aside.</h3>
    </div>
  </main>
</div>
