<div class="container">
  <header>
    <img src="logo.svg" />
    <nav>
      <a href="">Home</a>
      <a href="">All products</a>
      <app-profile-button></app-profile-button>
    </nav>
  </header>

  <aside>
    <article>
      <h2>Product CRUD:</h2>
      <button (click)="renderCrudContent(CreateProductComponent)">Create product</button>
      <button (click)="renderCrudContent(GetProductComponent)">Get product infos</button>
      <button (click)="renderCrudContent(GetAllProductsComponent)">Get all products</button>
      <button (click)="renderCrudContent(DeleteProductComponent)">Delete product</button>
      <button (click)="renderCrudContent(EditProductComponent)">Edit product</button>
    </article>

    <article>
      <h2>User CRUD:</h2>
      <button (click)="renderCrudContent(CreateUserComponent)">Create user</button>
      <button (click)="renderCrudContent(GetUserComponent)">Get user infos</button>
      <button (click)="renderCrudContent(GetAllUsersComponent)">Get all users</button>
      <button (click)="renderCrudContent(DeleteUserComponent)">Delete user</button>
      <button (click)="renderCrudContent(EditUserComponent)">Edit user</button>

    </article>
  </aside>

  <main>
    <div #content>
      <h3 *ngIf="!activeView">Select an operation from aside.</h3>
    </div>
  </main>
</div>
