<app-nav></app-nav>

<main class="cart-content">
  <div class="products-container">

    @if(products.getValue().length > 0){
      @for (p of products.getValue();track p.product.id){
        <div class="product-box">
          <img src="{{p.product.productImage.image}}">

          <div class="details">
            <h3>{{p.product.title}}</h3>
            <p>Size: {{p.product.size}}</p>
            <p>Rating: {{p.product.rating}}</p>
            <p>Price: {{p.product.price}} $</p>
            <p>Color: {{p.product.productColor}} $</p>
            <p>Quantity: {{p.quantity}}</p>

            <div class="buttons">
              <a href="/product/{{p.product.id}}"><button class="action-button">See product</button></a>
              <button class="action-button" (click)="removeFromCart(p.id)">Remove from basket</button>
            </div>
          </div>
        </div>
      }
    } @else {
     <h2 class="products-placeholder"> You don't have any products yet!</h2>
    }
  </div>

  <div class="summary">
    <h1>Summary:</h1>
    <p>Delivery price: <strong>FREE</strong></p>
    <h3>Total: {{totalPrice.toFixed(2)}} $</h3>
    <button class="action-button" (click)="placeOrder()"> Send order</button>
  </div>
</main>

<app-footer></app-footer>

