<app-nav></app-nav>

<main class="cart-content">
  <div class="products-container">

    @if(products.getValue().length > 0){
      @for (product of products.getValue();track product.productDto.id){
        <div class="product-box">
          <img src="{{product.productDto.productImage.image}}">

          <div class="details">
            <h3>{{product.productDto.title}}</h3>
            <p>Size: {{product.productDto.size}}</p>
            <p>Rating: {{product.productDto.rating}}</p>
            <p>Price: {{product.productDto.price}} $</p>
            <p>Color: {{product.productDto.productColor}} $</p>
            <p>Quantity: {{product.quantity}}</p>

            <div class="buttons">
              <a href="/product/{{product.productDto.id}}"><button class="action-button">See product</button></a>
              <button class="action-button" (click)="removeFromCart(product.productDto.id)">Remove from basket</button>
            </div>
          </div>
        </div>
      }
    } @else {
     <h2 class="products-placeholder"> You don't have any products yet!</h2>
    }
  </div>

  <div class="summary">
    <h1>Summary:</h1>
    <p>Delivery price: <strong>FREE</strong></p>
    <h3>Total: {{totalPrice.toFixed(2)}} $</h3>
    <button class="action-button" (click)="placeOrder()"> Send order</button>
  </div>
</main>

<app-footer></app-footer>

