footer{
  align-self: end;
  background: transparent;
  width: var(--full-width);
  margin: 0 auto;
}

.footer-box{
  width: 100%;
  max-width: var(--general-container-max-width);
  margin: 100px auto auto auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
