<app-popup class="popup" modalTitle="Change password">
  <form name="change-password">
    <div>
      <label for="old-password">Old password:</label>
      <input type="password" name="old-password" id="old-password" [(ngModel)]="oldPassword" data-invalid-message="Min. 4 characters" required minlength="4">
    </div>
    <div>
      <label for="new-password">New password:</label>
      <input type="password" name="new-password" id="new-password" [(ngModel)]="newPassword" data-invalid-message="Min. 4 characters" required minlength="4">
    </div>

    <div>
      <label for="confirm-password">Confirm password:</label>
      <input type="password" name="confirm-password" id="confirm-password" [(ngModel)]="confirmNewPassword" data-invalid-message="Min. 4 characters" required minlength="4">
    </div>
  </form>

  <div>
    <button class="action-button psw-save-btn" (click)="save()">Save</button>
  </div>
</app-popup>
