<section class="send-form">
  <h1 class="form-title">Send your custom order to us so we can make it real for you.</h1>


  <div class="fields">
    <div>
      <label for="name">Name</label>
      <input id="name" type="text" required>
    </div>

    <div>
      <label for="email">Email</label>
      <input id="email" type="email" required>
    </div>

    <div>
      <label for="photo">Upload a photo</label>
      <input id="photo" type="file" required>
    </div>

    <div>
      <label for="address">Address</label>
      <input id="address" type="text" required>
    </div>

    <div>
      <label for="city">City</label>
      <input id="city" type="text" required>
    </div>

    <div>
      <label for="country">Country</label>
      <input id="country" type="text" required>
    </div>
  </div>

  <input class="action-button" type="button" value="Send it!">
</section>


