.send-form{
  color: white;
  /*margin-top: 200px;*/
  width: 100%;
  max-width: var(--general-container-max-width);
  margin: var(--auto-margin);
  padding: var(--general-padding);
  display: flex;
  flex-direction: column;
  gap: var(--general-padding);
}

.form-title{
  font-size: 50px;
  width: 50%;
}

.fields{
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: repeat(3, 1fr);
  gap: var(--general-padding);

}
.fields div{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 5px;
  flex-direction: column;
}

.fields div input{
  background: transparent;
  border: solid 1px white;
  height: 25px;
  width: 250px;
}
