<section class="content-section" style="{{containerStyle}}">
  <div class = "collection-title">
    <h2 class="content-txt-title" style="{{textStyle}}">{{ words[0] }}</h2>
    <h2 class="content-txt-title" style="{{textStyle}}">{{ words[1] }}</h2>
  </div>
  <div class="articles" style="{{articlesStyle}}">
      @for (product of products; track product){
        <app-product-box [title]="product.title"
                         [id]="product.id"
                         [rating]="product.rating"
                         [size]="product.size"
                         [productImage]="product.productImage.image"
        ></app-product-box>
      }
 </div>
  <div class="see-products-button-content">
    <app-see-products-button></app-see-products-button>
  </div>
</section>

