.content-section{
  width: 100%;
  max-width: calc(var(--general-container-max-width) - 200px);
  margin: var(--auto-margin);
  height: fit-content;
  margin-top: 100px;
  background: linear-gradient(rgba(0, 0, 0, 0) 22%,#282828 22%);
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.collection-title{
  width: 100%;
  max-width: var(--general-container-max-width);
}

.content-txt-title{
  margin: var(--auto-margin);
  font-size: 250px;
  font-weight: 900;
  position: absolute;
  text-shadow:
    3px 3px 0 #ffffff,
    -3px 3px 0 #ffffff,
    -3px -3px 0 #ffffff,
    3px -3px 0 #ffffff;;
  color: var(--bg-color);
  transition: .2s;
  width: 100%;
  text-align: center;
  animation-timeline: scroll();
}

.content-txt-title:nth-child(1){
  left: -100%;
  animation-name: title-moving-right;
}

@keyframes title-moving-right {
  55%{
    left: 50%;
    transform: translate(calc(-50% - (250px / 2 + var(--general-padding))));

  }
  100%{
    left: 50%;
    transform: translate(calc(-50% - (250px / 2 + var(--general-padding))));
  }
}

.content-txt-title:nth-child(2){
  margin-top: 250px;
  left: 100% ;
  animation-name: title-moving-left;
  animation-direction: revert;
}

@keyframes title-moving-left {
  55%{
    left: 50%;
    transform: translate(-50%)
  }
  100%{
    left: 50%;
    transform: translate(-50%);
  }
}

.articles{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  place-items: center;
  grid-column-gap: 20px;
  transition: 0.2s;
  gap: 20px;
  padding: 20px;
  height: fit-content;
  margin-top: 430px;
}

@media screen and (max-width: 1575px){
  .content-section{
    background: linear-gradient(rgba(0, 0, 0, 0)  29%,#282828 22%);
    margin-top: 100px !important;
  }

  .content-txt-title{
    font-size: 200px;
    padding: 20px;
  }
  .see-products-button-content{
    align-self: center;
  }
}

@media screen and (max-width: 1255px){
  .content-section{
    background: linear-gradient(rgba(0, 0, 0, 0)  21%,#282828 21%);
  }
  .content-txt-title{
    font-size: 190px;
  }
}

@media screen and (max-width: 1188px){
  .content-section{
    background: linear-gradient(rgba(0, 0, 0, 0)  15%, #282828 0%);
  }

  .content-txt-title{
    font-size: 150px;
  }

  .content-txt-title:nth-child(1){
    margin-left: calc(var(--general-padding) * 2);
  }

  .content-txt-title:nth-child(2){
    margin-top: 150px;
  }

  .articles{
    margin-top: 290px;
  }
}

@media screen and (max-width: 900px){
  .content-section{
    background: linear-gradient(rgba(0, 0, 0, 0)  14%,#282828 0%);
  }

  .content-txt-title{
    font-size: 120px;
  }

  .articles{
    margin-top: 290px;
  }

  .content-txt-title:nth-child(1){
    margin-left: calc(var(--general-padding) * 3);
  }
}

@media screen and (max-width: 730px){
  .content-section{
    background: linear-gradient(rgba(0, 0, 0, 0)  8%,#282828 0%);
  }

  .content-txt-title{
    font-size: 100px;
  }

  .content-txt-title:nth-child(2){
    margin-top: 100px;
  }

  .articles{
    margin-top: 240px;
  }

  .content-txt-title:nth-child(1){
    margin-left: calc(var(--general-padding) * 4);
  }
}

@media screen and (max-width: 585px){
  .content-section{
  }

  .content-txt-title{
    font-size: 80px;
  }

  .content-txt-title:nth-child(1){
    margin-left: calc(var(--general-padding) * 4.5);
  }
}

@media screen and (max-width: 470px){
  .content-section{
    margin-top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0)  5.5%,#282828 0%);
  }

  .content-txt-title{
    font-size: 60px;
  }

  .articles{
    margin-top: 200px;
  }

  .content-txt-title:nth-child(1){
    margin-left: calc(var(--general-padding) * 5);
  }
}

