<section class="content-section" style="{{containerStyle}}">
  <div class = "collection-title">
    <h2 class="content-txt-title" style="{{textStyle}}">{{ words[0] }}</h2>
    <h2 class="content-txt-title" style="{{textStyle}}">{{ words[1] }}</h2>
  </div>
  <div class="articles" style="{{articlesStyle}}">
    <article>
      <figure>
        <img src="" alt="product image"/>
      </figure>
      <h3>title</h3>
      <p>size</p>
      <p>price</p>
      <p>rating</p>
      <button>See product >></button>
    </article>
    <article>
      <figure>
        <img src="" alt="product image"/>
      </figure>
      <h3>title</h3>
      <p>size</p>
      <p>price</p>
      <p>rating</p>
      <button>See product >></button>
    </article>
    <article>
      <figure>
        <img src="" alt="product image"/>
      </figure>
      <h3>title</h3>
      <p>size</p>
      <p>price</p>
      <p>rating</p>
      <button>See product >></button>
    </article>
    <article>
      <figure>
        <img src="" alt="product image"/>
      </figure>
      <h3>title</h3>
      <p>size</p>
      <p>price</p>
      <p>rating</p>
      <button>See product >></button>
    </article>
 </div>
  <div class="see-products-button-content">
    <app-see-products-button></app-see-products-button>
  </div>
</section>

