<section class="form-box">

  <div class="get-delete-box">
    <h2>Get product's infos:</h2>
    <label for="product-id">Enter product id:</label>
    <input id="product-id" type="number" name="productIdEntered" [(ngModel)]="productIdEntered">
    <div class="get-delete-box-buttons">
      <button class="action-button" (click)="getProduct()">Get</button>
      <button class="action-button" (click)="deleteProduct()" [disabled]="id <= 0">Delete</button>
    </div>
  </div>

  <div class="create-box">
    <h2>Create,delete or edit a product:</h2>
    <form method="POST" name="register-product">
      <div>
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" [(ngModel)]="title" data-invalid-message="Title invalid" required minlength="2">
      </div>
      <div>
        <p>Number reviews: {{numberReviews}}</p>
      </div>
      <div>
        <label for="size">Size:</label>
        <select id="size" [(ngModel)]="size" name="size" data-invalid-message="Size is mandatory" required>
          <option value="XXS">S</option>
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
          <option value="XXL">XXL</option>
        </select>
      </div>
      <div>
        <label for="rating">Rating:</label>
        <input id="rating" type="number" min="1" max="5" name="rating" data-invalid-message="Rating between 1- 5" [(ngModel)]="rating">
      </div>
      <div>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="description" name="description" data-invalid-message="Description more then 2 letters" required minlength="2"></textarea>
      </div>
      <div>
        <label for="productColor">Product color:</label>
        <select id="productColor" [(ngModel)]="productColor" name="product-color" data-invalid-message="Product color mandatory" required>
          <option value="RED">Red</option>
          <option value="BLUE">Blue</option>
          <option value="YELLOW">Yellow</option>
          <option value="WHITE">White</option>
          <option value="PINK">Pink</option>
          <option value="GREEN">Green</option>
          <option value="PURPLE">Purple</option>
          <option value="LIGHTBLUE">Lightblue</option>
          <option value="BLACK">Black</option>
        </select>
      </div>
      <div>
        <label for="availableForPurchase">Available for purchase:</label>
        <select id="availableForPurchase" [(ngModel)]="availableForPurchase" name="available-for-purchase" data-invalid-message="Available For Purchase mandatory" required>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>

      <div>
        <label for="price">Price:</label>
        <input id="price" type="number" min="1" step="0.01" [(ngModel)]="price" name="price" data-invalid-message="Price more than 1 $" required>
      </div>

      <div>
        <label for="productImageField">Product image:</label>
        <div class="filed-horizontal">
          <input id="productImageField" type="url" [(ngModel)]="image" name="product-images" data-invalid-message="You must add at least 1 image link" required>
          <button class="action-button bg-green" (click)="addToArray(productImages, image)">Add</button>
        </div>
        <div class="product-images">
          @for (imageF of productImages; track imageF){
            <div>
              <img width="120px" src="{{ imageF.image }}" />
              <button class="action-button" (click)="deleteFromArray(productImages, $index)">Delete</button>
            </div>
          }
        </div>
      </div>

      <div class="form-buttons">
        <button class="action-button bg-green" (click)="saveProduct()">Save</button>
        <button class="action-button" (click)="clear()">Clean</button>
      </div>
    </form>

  </div>
</section>
