<app-nav></app-nav>
<app-change-password [userId]="id" #changePasswordC></app-change-password>
<app-popup modalTitle="Change user Infos: " #changeInfos>
  <form method="POST" name="edit-user" class="form-box">
    <div>
      <label for="username">Name:</label>
      <input id="username" type="text" name="title" [(ngModel)]="name" data-invalid-message="Name is mandatory. Minimum length is 4 letters" minlength="4" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" name="email" [(ngModel)]="email" data-invalid-message="Must contain a valid email. E.g. you@you.com" required>
    </div>
    <div>
      <label for="phone">Phone:</label>
      <input id="phone" type="tel" name="phone" [(ngModel)]="phone" data-invalid-message="Enter a phone number. Minimum 4 numbers long" minlength="4" required>
    </div>
    <div>
      <label for="role">Role:</label>
      <select id="role"  name="role" [(ngModel)]="role" data-invalid-message="Role mandatory." required>
        <option value="CUSTOMER">Customer</option>
        <option value="ADMIN">Admin</option>
      </select>
    </div>
    <div>
      <label for="user-image">Add an image link:</label>
      <input id="user-image" type="url" name="user-image" [(ngModel)]="userImage" data-invalid-message="Optional but if you add it must be an url.">
    </div>
    <div class="form-buttons">
      <button class="action-button bg-green" (click)="editUser()">Save</button>
    </div>
  </form>
</app-popup>

<app-popup modalTitle="Add new address: " #addressForm>
  <form method="POST" name="address-form" class="form-box">
    <div>
      <label for="country">Country:</label>
      <input id="country" type="text" name="country" [(ngModel)]="country" data-invalid-message="Country is mandatory" minlength="4" required>
    </div>
    <div>
      <label for="city">City:</label>
      <input id="city" type="text" name="city" [(ngModel)]="city" data-invalid-message="city is mandatory" minlength="2" required>
    </div>
    <div>
      <label for="state">State:</label>
      <input id="state" type="text" name="state" [(ngModel)]="state" data-invalid-message="State is mandatory" minlength="2" required>
    </div>
    <div>
      <label for="street">Street:</label>
      <input id="street" type="text" name="street" [(ngModel)]="street" data-invalid-message="Street is mandatory" minlength="2" required>
    </div>

    <div>
      <label for="number">Number:</label>
      <input id="number" type="text" name="number" [(ngModel)]="number" data-invalid-message="Number is mandatory" minlength="2" required>
    </div>
    <div>
      <label for="mainAddress">Main address:</label>
      <select id="mainAddress" type="text" name="mainAddress" [(ngModel)]="mainAddress" data-invalid-message="Main address is mandatory" minlength="2" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
      </select>
    </div>
    <div>
      <label for="zip">Zipcode:</label>
      <input id="zip" type="text" name="zip" [(ngModel)]="zipcode" data-invalid-message="Zip is mandatory" minlength="2" required>
    </div>
    <div class="form-buttons" *ngIf="addressId == 0" >
      <button class="action-button bg-green" (click)="createAddress()">Save</button>
    </div>
    <div class="form-buttons" *ngIf="addressId != 0" >
      <button class="action-button bg-green" (click)="saveEdit()">Save edit</button>
      <button class="action-button" (click)="deactivateAddress()">Deactivate</button>
    </div>
  </form>
</app-popup>

<app-popup modalTitle="Confirmation" #deleteConfirmation class="confirmation-popup">
  <h1>Are you sure you want to delete your account ?</h1>
  <div class="confirmation-buttons">
    <button class="action-button" (click)="deleteAccount()">Delete account</button>
    <button class="action-button" (click)="closeDeleteConfirmation()">Close</button>
  </div>
</app-popup>
<main>
  <section class="user-infos">
    <div class="big-image">
      <img src="{{userImage}}" alt="{{name}}'s profile">
    </div>

    <div class="details-box">
      <h1>{{ name }}</h1>
      <p><strong>Email:</strong> {{ email }}</p>
      <p>
        <strong>Phone: </strong>
        {{ phone }}
      </p>
      <p *ngIf="role == 'ADMIN'"><strong>Role:</strong> {{role}}</p>

      <div class="profile-buttons">
        <button class="action-button" (click)="logOut()">Log out</button>
        <button class="action-button" (click)="openChangePassword()">Change password</button>
        <button class="action-button" (click)="openChangeInfos()">Edit infos</button>
        <button class="action-button" (click)="openDeleteConfirmation()">Delete account</button>
        <button class="action-button" *ngIf="role == 'ADMIN'" (click)="toDashboard()">Dashboard</button>
        <button class="action-button" (click)="openAddressForm()">Add new address</button>
      </div>
    </div>
  </section>

  <section class="addresses">
    <h2>Addresses: </h2>
    <div *ngIf="addresses.getValue().length < 1">
      <h3> You don't have any addresses yet!</h3>
      <button class="action-button" (click)="openAddressForm()">Add new address</button>
    </div>
    <article *ngIf="addresses.getValue().length >= 1">
      <table>
        <thead>
        <tr>
          <th>City: </th>
          <th>Country: </th>
          <th>State: </th>
          <th>Address: </th>
          <th>Zipcode: </th>
          <th>Main address: </th>
        </tr>
        </thead>
        <tbody>
          @for (address of addresses.getValue(); track address.id){
            <tr>
              <td>{{address.city}}</td>
              <td>{{address.country}}</td>
              <td>{{address.state}}</td>
              <td>{{address.street + "," + address.number}}</td>
              <td>{{address.zip}}</td>
              <td>
                @if(address.mainAddress === true){
                  Yes
                } @else {}
              </td>
              <td class="address-button-box">
                <button class="action-button address-button" (click)="editAddress(address.id)">Edit</button>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </article>
  </section>

  <section class="user-orders" >

    <h2>Orders:</h2>

    <div *ngIf="orders.getValue().length < 1">
      <h3> You don't have any orders yet!</h3>
    </div>
    <article *ngIf="orders.getValue().length >= 1">
      <table>
        <thead>
        <tr>
          <th>Id: </th>
          <th>Status: </th>
          <th>Total price: </th>
        </tr>
        </thead>
        @for(order of orders.getValue(); track order.id){
          <tbody>
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.statusOrder}}</td>
            <td>{{order.totalPrice}}</td>
          </tr>
          </tbody>
        }
      </table>
    </article>
  </section>

  <section class="reviews">
    <h2>Your reviews: </h2>
    <h3 *ngIf="reviews.getValue().length < 1">You don't have any reviews yet!</h3>

    @for (review of reviews.getValue(); track review.id){
      <article class="review-box">
        <h3>{{review.product.title}}</h3>
        <app-product-star-rating [rating]="review.score" [numberReviews]="review.score"></app-product-star-rating>
        <p>{{review.message}}</p>
        <div class="review-buttons">
          <button class="action-button" (click)="openEditReviewPopup(review.id)">Edit</button>
          <button class="action-button" [routerLink]="'/product/' + review.product.id">See product</button>
        </div>
      </article>
    }
  </section>
</main>

<app-popup modalTitle="Add review" #editReviewPopup>
  <form class="edit-review-form" name="create-review">
    <div>
      <label for="review-score">Score: </label>
      <input id="review-score" name="review-score" type="range" min="1" [(ngModel)]="reviewScore" max="5" required>
    </div>
    <div>
      <label for="review-message">Message: </label>
      <textarea id="review-message" name="review-message" type="text" [(ngModel)]="reviewMessage" minlength="10" required></textarea>
    </div>
    <div>
      <button class="action-button" (click)="saveReview()" *ngIf="reviewId >= 1">Save</button>
    </div>
  </form>
</app-popup>

<app-footer></app-footer>
