.orders{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}

.order{
  display: flex;
  justify-content: start;
  gap: 20px;
  background-color: #383838;
  padding: var(--general-padding);
  border-radius: 10px;
  width: fit-content;
}

.product{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: 1fr minmax(250px,100%);
  column-gap: 20px;
}

.product > img{
  grid-row-start: 1;
  grid-row-end: 7;
  width: 100%;
  min-width: 250px;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  outline: none;
  object-fit: contain;
}


.products-details{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}


.productColor{
  max-width: 40px;
  max-height: 40px;
  border-radius: 100%;
}

.details{
  width: fit-content !important;
}
.user-details{
  position: sticky !important;
  top: calc(var(--nav-heigth) + var(--general-padding));
}

.order-buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.action-button{
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

select{
  background-color: transparent;
  border: solid 1px white;
  padding: 10px;
  color: white;
  cursor: pointer;
}

option{
  color: black;
  cursor: pointer;
}

.order-status-popup{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
