<section class="orders">

  <h3 *ngIf="orders.length < 1">No orders have been made yet!</h3>

  @for (order of orders; track order){

    <div class="order">
      <div class="details">
        <div class="user-details">
          <h2>Order number: <br/> {{order.id}}</h2>
          <p>Created at: {{order.createdAt}}</p>
          <p>Name : {{order.userDto.name}}</p>
          <p>Phone: {{order.userDto.phone}}</p>
          <p>email: {{order.userDto.email}}</p>
          <p>Total price: {{order.totalPrice}}</p>
          <p>Status: {{order.statusOrder}}</p>
          <h4>
            Address: <br />
            {{order.addressDto.country}},
            {{order.addressDto.city}},
            {{order.addressDto.state}},
            {{order.addressDto.zip}},
            {{order.addressDto.street}} {{order.addressDto.number}},
          </h4>
          <p>Comments: <br />{{order.comments}}</p>
          <div class="order-buttons">
            <button class="action-button" (click)="openPopup(order)">Modify status</button>
          </div>
        </div>
      </div>

      <div class="products-details">
        @for (product of order.orderItems; track product){
          <div class="product">
            <img src="{{product.product.productImage.image}}">
            <h3>{{product.product.title}}</h3>
            <p>Product number: {{product.product.id}}</p>
            <p>Size: {{product.product.size}}</p>
            <p>Price: {{product.product.price}}</p>
            <p>Quantity: {{product.quantity}}</p>
            <div class ="productColor" style="background: {{product.product.productColor}}"></div>
            <a class="action-button" [href]="'/product/' + product.product.id">See product details</a>
          </div>
        }
      </div>
    </div>
  }

  <app-popup [modalTitle]="title">
    <div class="order-status-popup">
      <label for="order-status">Activation status:</label>
      <select id="order-status" [(ngModel)]="status" name="order-status">
        <option value="CONFIRMED">Confirmed</option>
        <option value="PREPARED">Prepared</option>
        <option value="IN_TRANSITION">In transit</option>
        <option value="DELIVERED">Delivered</option>
        <option value="CANCELED">Canceled</option>
      </select>
      <button class="action-button" (click)="saveStatus()">Save</button>
    </div>
  </app-popup>
</section>
