<form method="POST" name="register-user" class="form-box">
  <div>
    <label for="username">Name:</label>
    <input id="username" type="text" name="title" [(ngModel)]="name" data-invalid-message="Name is mandatory. Minimum length is 4 letters" minlength="4" required>
  </div>
  <div>
    <label for="email">Email:</label>
    <input id="email" type="email" name="email" [(ngModel)]="email" data-invalid-message="Must contain a valid email. E.g. you@you.com" required>
  </div>
  <div>
    <label for="phone">Phone:</label>
    <input id="phone" type="tel" name="phone" [(ngModel)]="phone" data-invalid-message="Enter a phone number. Minimum 4 numbers long" minlength="4" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input id="password" type="password" name="password" [(ngModel)]="password" data-invalid-message="Enter a password. Minimum 4 numbers long" minlength="4" required>
  </div>
  <div>
    <label for="confirm-password">Confirm password:</label>
    <input id="confirm-password" type="password" name="confirm-password" [(ngModel)]="confirmPassword" data-invalid-message="You must confirm the password." minlength="4" required>
  </div>
  <div>
    <label for="role">Role:</label>
    <select id="role"  name="role" [(ngModel)]="role" data-invalid-message="Role mandatory." required>
      <option value="CUSTOMER">Customer</option>
      <option value="ADMIN">Admin</option>
    </select>
  </div>
  <div>
    <label for="user-image">Add an image link:</label>
    <input id="user-image" type="url" name="user-image" [(ngModel)]="userImage" data-invalid-message="Optional but if you add it must be an url.">
  </div>
  <div>
    <label for="activationStatus">Activation status:</label>
    <select id="activationStatus" [(ngModel)]="activationStatus" name="activation-status" data-invalid-message="Activation Status mandatory" required>
      <option value="ACTIVATED">Activated</option>
      <option value="DEACTIVATED">Deactivated</option>
    </select>
  </div>
  <div class="form-buttons">
    <button class="action-button bg-green" (click)="createUpdateUser()">Save</button>
    <button class="action-button" >Clean</button>
  </div>
</form>
