<app-nav></app-nav>
<main class="container">
  <div class="products-container">
    @for (product of products.getValue(); track product){
      <app-product-box title="{{product.title}}"
                       id="{{product.id}}"
                       [rating]="product.rating"
                       size="{{product.size}}"
                       productImage="{{product.productImage.image}}"
                       price="{{product.price}}"
                       [availableForPurchase]="product.availableForPurchase"
                       [numberReviews]="product.numberReviews"
      ></app-product-box>
    }
  </div>
</main>
<app-footer></app-footer>
