<app-nav></app-nav>
<main class="container">

  <section class="filters">

    <div class="filters-box">
      <div class="order-by">
        <h3>Order by:</h3>
        <select [(ngModel)]="orderBy">
          <option value="MOST POPULAR">Most popular</option>
          <option value="LOWEST PRICE">Lowest price</option>
          <option value="HIGHEST PRICE">Highest price</option>
        </select>
      </div>

      <div class="filter-by">
        <h3>Filter by:</h3>

        <div class="filter-title">
          <input type="text" name="search-bar" placeholder="Search" [(ngModel)]="search">
        </div>

        <div class="filter-color">
          <h4>Color:</h4>
          <div>
            <input id="color-red" name="color-red" class="color-input" type="checkbox" value="RED">
            <label for="color-red">Red</label>
          </div>
          <div>
            <input id="color-blue" name="color-blue" class="color-input" type="checkbox" value="BLUE">
            <label for="color-blue">Blue</label>
          </div>
          <div>
            <input id="color-yellow" name="color-yellow" class="color-input" type="checkbox" value="YELLOW">
            <label for="color-yellow">Yellow</label>
          </div>
          <div>
            <input id="color-white" name="color-white" class="color-input" type="checkbox" value="WHITE">
            <label for="color-white">White</label>
          </div>
          <div>
            <input id="color-pink" name="color-pink" class="color-input" type="checkbox" value="PINK">
            <label for="color-pink">Pink</label>
          </div>
          <div>
            <input id="color-green" name="color-green" class="color-input" type="checkbox" value="GREEN">
            <label for="color-green">Green</label>
          </div>
          <div>
            <input id="color-lightblue" name="color-lightblue" class="color-input" type="checkbox" value="LIGHTBLUE">
            <label for="color-lightblue">Lightblue</label>
          </div>
          <div>
            <input id="color-purple" name="color-purple" class="color-input" type="checkbox" value="PURPLE">
            <label for="color-purple">Purple</label>
          </div>
          <div>
            <input id="color-black" name="color-black" class="color-input" type="checkbox" value="BLACK">
            <label for="color-black">Black</label>
          </div>
        </div>

        <div class="filter-reviews">
          <h4>Reviews:</h4>
          <div>
            <div>
              <input id="review-five" name="review-five" class="review-input" type="checkbox" value="5">
              <app-product-star-rating [numberReviews]="countProductsByRating(5)" [rating]="5"></app-product-star-rating>
            </div>
            <div>
              <input id="review-four" name="review-four" class="review-input" type="checkbox" value="4">
              <app-product-star-rating [numberReviews]="countProductsByRating(4)" [rating]="4"></app-product-star-rating>
            </div>

            <div>
              <input id="review-three" name="review-three" class="review-input" type="checkbox" value="3">
              <app-product-star-rating [numberReviews]="countProductsByRating(3)" [rating]="3"></app-product-star-rating>
            </div>

            <div>
              <input id="review-two" name="review-two" class="review-input" type="checkbox" value="2">
              <app-product-star-rating [numberReviews]="countProductsByRating(2)" [rating]="2"></app-product-star-rating>
            </div>

            <div>
              <input id="review-one" name="review-one" class="review-input" type="checkbox" value="1">
              <app-product-star-rating [numberReviews]="countProductsByRating(1)" [rating]="1"></app-product-star-rating>
            </div>
          </div>
        </div>

        <div class="filter-size">
          <h4>Size:</h4>
          <div>
            <div>
              <label for="size-xxl">XXL</label>
              <input id="size-xxl" name="size-xxl" class="size-input" type="checkbox" value="XXL">
            </div>

            <div>
              <label for="size-xl">XL</label>
              <input id="size-xl" name="size-xl" class="size-input" type="checkbox" value="XL">
            </div>

            <div>
              <label for="size-l">L</label>
              <input id="size-l" name="size-l" class="size-input" type="checkbox" value="L">
            </div>

            <div>
              <label for="size-m">M</label>
              <input id="size-m" name="size-m" class="size-input" type="checkbox" value="M">
            </div>

            <div>
              <label for="size-s">S</label>
              <input id="size-s" name="size-s" class="size-input" type="checkbox" value="S">
            </div>

            <div>
              <label for="size-xs">XS</label>
              <input id="size-xs" name="size-xs" type="checkbox" value="XS">
            </div>

          </div>

          <div class="search-buttons">
            <button class="action-button search-button" (click)="searchProducts()">Search</button>
            <button class="action-button search-button" (click)="reset()">Reset</button>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="products-container">
    @for (product of products.getValue(); track product){
      <app-product-box title="{{product.title}}"
                       id="{{product.id}}"
                       [rating]="product.rating"
                       size="{{product.size}}"
                       productImage="{{product.productImage.image}}"
                       price="{{product.price}}"
                       [availableForPurchase]="product.availableForPurchase"
                       [numberReviews]="product.numberReviews"
      ></app-product-box>
    }
  </section>
</main>
<app-footer></app-footer>
