.container {
  grid-template-columns: 25% 75%;
  padding: calc(var(--general-padding) * 6) var(--general-padding);
  max-width: var(--general-container-max-width);
  margin: 0 auto;
}

.products-container {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--general-padding);
}

